@import url("color.css?v=2");
@import url("framework/utiles.css?v=2");
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"); */
@import url("components/navbar.css?v=2");
/* @import url("components/temoignages.css");
 */
@import url("components/contact-horaires.css");

/* @import url("components/connexion.css?v=2"); */

@import url("components/footer.css?v=2");
@import url("style.css?v=2");